@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito"  , sans-serif;
}
html{
    scroll-behavior: smooth;

}
body{
    overflow-x: hidden;
}
/* SECTION: PARALLAX */
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-image: linear-gradient(to bottom,
            #180930,
            #2e1847,
            #48275f,
            #633677,
            #81458f);;
}
.parallax h2{
    position: absolute;
    top: 10%;
    font-family: "Creepster" , cursive;
    font-size: 4rem;
    color: #ff7940;
    z-index: 50;
    animation: title 1s ease 0s 1 normal forwards;
}
@keyframes title{
    0% {
            letter-spacing: 3rem;
            color: #2e1847;
        }
    
        100% {
            letter-spacing: 0.5rem;
            color: #ff7940;
        }
}
/* SECTION: BLOG */
.blog{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 150px 150px;
    background: #160c1f;
    min-height: 100dvh;
    cursor: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/c0860373-721d-47e1-acfa-f792c86579d2) ,auto;

}