@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito"  , sans-serif;
}
html{
    scroll-behavior: smooth;

}
body{
    overflow-x: hidden;
}
/* SECTION: PARALLAX */
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-image: linear-gradient(to bottom,
            #180930,
            #2e1847,
            #48275f,
            #633677,
            #81458f);;
}
.parallax h2{
    position: absolute;
    top: 10%;
    font-family: "Creepster" , cursive;
    font-size: 4rem;
    color: #ff7940;
    z-index: 50;
    animation: title 1s ease 0s 1 normal forwards;
}
@keyframes title{
    0% {
            letter-spacing: 3rem;
            color: #2e1847;
        }
    
        100% {
            letter-spacing: 0.5rem;
            color: #ff7940;
        }
}
/* SECTION: BLOG */
.blog{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 150px 150px;
    background: #160c1f;
    min-height: 100dvh;
    cursor: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/c0860373-721d-47e1-acfa-f792c86579d2) ,auto;

}
.blog::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, transparent, #160c1f);
    z-index: 999;
}
.blog h3{
    position: relative;
    font-family: "Creepster" , cursive;
    font-size: 3rem;
    color: rgba(225, 98, 63, 0.9);
    letter-spacing: 0.3rem;
    margin: 0 0 70px;
    text-align: center;
}
.blog h3::after{
    content: "";
    position: absolute;
    top: 100%;
    width: 100px;
    left: 0;
    height: 7px;
    border-radius: 5px;
    background-image: linear-gradient(to right,
            transparent,
            rgba(253, 182, 87, 1),
            rgba(222, 117, 89, 1),
            rgba(117, 43, 91, 1),
            rgba(46, 24, 71, 1),
            transparent,
            transparent,
            transparent,
            transparent,
            transparent);
    background-size: 200% 100%;
    animation: line-animation 5s infinite linear;        
}
@keyframes line-animation{
        from {
            background-position: 100%;
        }
    
        to {
            background-position: -100%;
        }
}
.blog p{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 300;
    margin: 50px 0 0 ;
    max-width: 750px;
    text-align: center;
}
/* Swiper */
.swiper{
    width: 70%;
    height: 100%;
    background: transparent;
    border-radius: 30px;
    cursor: grab;
    margin-bottom: 80px;
}
.swiper-slide{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap: 30px;
    color: #fff;
    padding: 40px 40px;
}